@page "/"
@namespace BlazorApp2.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    /*******************************************************************************************************************************************************/
    // Here we create an instance of a class we want to use to hold our data in and populate it.
    var dataToPass = new DataToPassCascaded()
    {
        StringData = Request.HttpContext.Connection.RemoteIpAddress.ToString(),
        IntData = 789
    };
    /*******************************************************************************************************************************************************/
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp2</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <!--*******************************************************************************************************************************************-->
        <!--Here we have added param-DataToPass="dataToPass". When I first did it I created a new one, which was wrong !!!-->
        <!--dataToPass is our instance name fom above -->
        <!--param-dataToPassParam  dataToPassParam has to exist as a parameter in App.razor-->
        <component type="typeof(App)" render-mode="ServerPrerendered" param-dataToPassParam="dataToPass" />
        <!--*******************************************************************************************************************************************-->
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
